@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  // To make lower section fill out screen below:
  flex-direction: column;
  height: 100vh;

  .jumbotron {
    text-align: center;

    #cityInput {
      max-width: 350px;
      padding: 8px;
      margin-right: 8px;
    }

    button {
      padding: 8px;
      cursor: pointer;
    }
  }

  #searchResultsWrapper {
    // To make lower section fill out screen below:
    flex: 1;

    #searchResults {

      .card {
        border-radius: 16px;
        width: 450px;

        @include media-breakpoint-down(sm) {
          border-radius: 12px;
          font-size: 14px;
        }

        #location-span {
          padding-right: 12px;
        }

        img {
          height: 64px;
          width: 64px;
          display: block;
        }
      }
    }
  }
}